@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
  background: #f6f6f6;
  margin: 0;
  padding: 30px;
}

/* Images */
.skeleton,
.allpic {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.pic1 {
  width: 600px;
  height: 400px;
}

.pic2 {
  width: 400px;
  height: 400px;
}

.image-align {
  display: block;
  margin: 0 auto;
}

/* Menu */
.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}

.top-menu:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-logo {
  display: inline-block;
}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.menu-main li {
  display: inline-block;
}

.menu-main a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  line-height: 61px;
  padding: 0 10px;  
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #F73E24;
  transition: .3s linear;
}

.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #F73E24;
  position: absolute;
  left: 50%;
  bottom: 10px; 
  transform: translateX(-50%) rotate(45deg); 
  opacity: 0;
  transition: .3s linear;
}

.menu-main a:hover:before {
  opacity: 1;
}

/* Responsive */
@media (max-width: 660px) {
  .menu-main {
    float: none;
    padding-top: 20px;
  }

  .top-menu {
    text-align: center;
    padding: 20px 0 0 0;
  }

  .menu-main a {
    padding: 0 10px;
  }

  .menu-main a:before {
    transform: rotate(45deg) translateX(-6px);
  }
}

@media (max-width: 600px) {
  .menu-main li {
    display: block;
  }
}

/* Text */
h1 {
  color: #4C4C4C;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BEBEBE;
  border-radius: 6px;
}

h2 {
  color: #000;
  border-radius: 6px;
}

p {
  font-style: italic;
  padding: 10px;
  color: #000;
}

/* Footer */
.footer-bs {
  background-color: #3c3d41;
  padding: 10px 20px;
  color: #fff;
  margin-bottom: 20px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}

.footer-bs .footer-brand h2 {
  margin: 0 0 10px;
}

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255,255,255,0.7);
}

.footer-bs ul {
  list-style: none;
  padding: 0;
}

.footer-bs li {
  padding: 5px 0;
}

.footer-bs a {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.footer-bs a:hover {
  color: rgba(255,255,255,0.8);
}

@media (min-width: 768px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: 1px solid rgba(255,255,255,0.1);
  }
}